@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0vh;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
  color: #000000;
  display: flex;
  justify-content: center; /* Center the heading */
  margin-top: 5vh;
  font-size: 55px;
  padding-right: 0; /* Remove padding to center the text */
  text-align: center; /* Ensure text is centered */
}

.register {
  position: fixed;
  background-image: url('/codeExplore/modtype/register2.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  border-radius: 1rem;
  width: 80%;
  max-width: 500px;
}

.register label {
  display: flex;
  margin-bottom: 1rem; /* Adjust margin for better spacing */
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

button {
  border: 0.2vh solid #040404;  /* border line color*/
  background-color: #d3d3d3; /* Green background */
  color: rgb(0, 0, 0); /* White text */
  font-size: 1.5vw; /* Text size */
  padding: 1vw 2vw; /* Padding around the text */
  border-radius: 2vw; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.4s ease; /* Smooth transition for hover effects */
  margin-top: 2vh; /* Space between button and other elements */
}

button:hover {
  background-color: #1a2439; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
  transform: translate(0px, -0.5vh);
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
  h1 {
      font-size: 40px;
      margin-top: 3vh;
  }

  .register-container {
      width: 90%;
      padding: 1rem;
  }

  .register input[type="text"],
  .register input[type="email"],
  .register input[type="password"] {
      padding: 0.8rem;
  }

  .register button {
      padding: 0.8rem 1.5rem;
      font-size: 0.9rem;
  }
}